# https://develop.kde.org/docs/apps/dolphin/service-menus/

[Desktop Entry]
Type=Service
MimeType=image/jpeg;image/jpg;
Actions=convertMediaRecompress_jpg

[Desktop Action convertMediaRecompress_jpg]
Name=Recompress JPG
Exec=konsole -e "bash -c 'type ffconvert.sh 1>/dev/null 2>/dev/null && ffconvert.sh -t jpg -f %U'"

