# https://develop.kde.org/docs/apps/dolphin/service-menus/

[Desktop Entry]
Type=Service
MimeType=image/jpeg;image/jpg;
Actions=convertMediaRecompress_jpg

[Desktop Action convertMediaRecompress_jpg]
Name=Recompress JPG
Exec=ffconvert.sh -t jpg -f %U
