[Desktop Entry]
Type=Service
MimeType=video/mp4;video/mpeg;video/quicktime;video/ogg;video/avi;
Actions=convertMediaFile;convertMediaFileReplace;
X-KDE-Submenu=Convert To WEBM

[Desktop Action convertMediaFile]
Name=Keep original
Exec=konsole -e "bash -c 'type ffctx.sh 1>/dev/null 2>/dev/null && ffctx.sh %U'"

[Desktop Action convertMediaFileReplace]
Name=Replace original
Exec=konsole -e "bash -c 'type ffctx.sh 1>/dev/null 2>/dev/null && ffctx.sh -r %U'"
